body .container-fluid {
    padding: 0;
}

body .container-fluid>div {
    padding-left: 2rem;
    padding-right: 2rem;
}

.details {
    background-color: #374458;
    color: white;
    padding-top: 2rem;
}

.details .description {
    font-size: 120%;
}

.details .image {
    padding: .25rem;
    background-color: #6195cd;
    border: 1px solid #6195cd;
    border-radius: .25rem;
    max-width: 150px;
    height: auto;
    float: right;
}

.details .name {
    margin: 0;
}

.details .title {
    color: #4a85b2;
    font-size: 150%;
    font-weight: bold;
}

.contact {
    background-color: #2b343f;
    color: white;
}

.contact p {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.contact p span {
    padding-left: .25rem;
    padding-right: .5rem;
}

.contact p i {
    padding-left: .25rem;
}

.main {
    margin: 0 1rem;
}

.main h2 {
    color: #6195cd;
    text-decoration: underline;
    text-transform: uppercase;
}

.main p {
    margin: 0;
}

.main .title {
    font-weight: bold;
    font-size: 110%;
}

.main .date,
.main .city,
.main .functions {
    color: #6195cd;
    font-size: 80%;
    font-style: italic;
}

.main .city {
    float: right;
}

.main .badge {
    background-color: #6195cd;
    color: white;
    border-color: #6195cd;
    font-size: 100%;
    margin: .25rem 0;
    padding: 0.5rem 1rem;
}

section {
    margin-bottom: 2rem;
}

ul {
    list-style: none;
    padding-left: 10px;
    /* Remove default bullets */
}

li::before {
    content: '\25c9';
    padding-right: 0.5em;
    color: #6195cd;
}

.bullet {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    border: 0.1rem solid #6195cd;
    background-color: #6195cd;
    border-radius: 50%;
}

.bullet-off {
    background-color: transparent;
}